@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes:
    nord --default,
    black --prefersdark;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));
